.body-button {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    width: 15rem;
    border-radius: 30px;
    border: none;
    background-color: #1ED760;
    color:  #2940a8;
    height: 45px;
    font-size: 16px;
    margin-top: 25px;
    
    &:hover{
        cursor: pointer;
    }
}

.clicked {
    background-color: blue !important;
}
