.body {
    background-color: #2940a8;
    color: #1ED760;
    background-image: url(../assets/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 1000px) {
        height: 46rem;
    }
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    & h1 {
        font-size: 9rem;
    
        &:nth-child(1) {
            align-self: flex-start;
        }
    
        &:nth-child(2) {
            align-self: flex-end;
            margin-top: -25px;
        }
    }

    & p {
        margin-top: 25px;
    }
}

.body-button {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    width: 15rem;
    border-radius: 30px;
    border: none;
    background-color: #1ED760;
    color:  #2940a8;
    height: 45px;
    font-size: 16px;
    margin-top: 25px;

    &:hover{
        cursor: pointer;
    }
}

.padding {
    height: 20rem;
}

.mobile-title {
    display: none;
}

@media(max-width: 1200px) {
    .body {
        background-image: url(../assets/bursts-tablet.svg);
        background-size: 153%;
        background-position: right 40% center;
    }

    .body-container {
        & h1 {
            font-size: 7rem;
        
            &:nth-child(1) {
                align-self: center;
            }
        
            &:nth-child(2) {
                align-self: center;
                margin-top: -25px;
            }
        }
    
        & p {
            margin-top: 25px;
        }
    }
}

@media(max-width: 1000px) {
    body {
        height: 20rem;
    }
}

@media(max-width: 768px) {
    .body {
        background-image: url(../assets/bursts-mobile.svg);
        background-size: 195%;
        background-position: top 25% center;
    }

    .body-container {
        width: 90%;
        text-align: center;
        & h1 {
            font-size: 3rem;
        }
    }

    .body-title {
        display: none;
    }

    .mobile-title {
        display: contents;
    }
}