body {
    background-color: #333;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #2940a8;
    margin: 200px auto;
    border-radius: 10px;
    box-shadow: rgb(245, 5, 245) 5px 5px 1px;
    outline: black 1px;

    &:hover {
        transform: scale(1.05);
    }
}

.card-image {
    width: 80%;
    margin: 0 auto;
}

.card-description {
    margin-left: 10px;
    margin-top: 20px;
    color: #1ED760;
    text-shadow: 0px 0px 2px black;
}