.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 88vh;
    color: papayawhip;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background:black;
    }

    &::-webkit-scrollbar-thumb {
        background-color:#b3b3b3;
        &:hover {
            background: papayawhip;
        }
    }
}

.art {
    max-width: 200px;
    outline: red 1px;
    margin-left: 40px;
    margin-top: 40px;
}

.title-row{
    display: flex;
    align-items: flex-end;
}

.playlist-info {
    margin-left: 40px;
}

.loading {
    margin: 0 auto;
    align-self: center;
}